.model-button-wrapper {
	position: absolute;
	left: 10px;
	top: 10px;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	display:flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.right-arrow {
	background-image: url("./Icon/double-arrow-right-icon.svg");
	height: 20px;
	width: 19px;
	position: absolute;
}
